To run this code segment you need to have a Python environment with the following requirements installed:
```
python==3.9 or 3.8
numpy
pandas
matplotlib
scipy
tqdm
pyqpanda
pyvqnet
qiskit
openblas
llvm
cmake
xcode command line tools
```
